
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #cacdd5;
}
.tab button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.form button{
	background-color: #4CAF50;
}


.frmInserirVendas button {
  background-color: #67AECA/*#58af9c*/;
  margin: 0 1%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  font-size: 17px;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #67AECA/*#58af9c*/;
  color:white;
}

.frmInserirVendas button:hover {
  background-color: #67AECA/*#58af9c*/;
  color:white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #0B3C5D/*#387668*/;
   color:white;
}

.frmInserirVendas button.active {
  background-color: #0B3C5D/*#387668*/;
   color:white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.frmInserirProd{
	margin:0px auto;
	margin-bottom: 10px;
	text-align:left;
}
.frmInserirProd{
	float:center;
	width:800px;
}
.frmInserirProd label{
	width:200px;
}
.frmInserirProd input, .frmInserirProd textarea{
	width:200px;
	height:20px;
	padding:4px 0;
	resize:none;	
}

.frmInserirProd select{
	width:205px;
	height:30px;
	padding:4px 0;
}

.frmInserirProd .aviso{
	background-color:#ff0000;
	color:#fff;
	font-weight:bold;
}

.frmInserirVendas{
	margin:0px auto;
	margin-bottom: 10px;
	text-align:left;
}
.frmInserirVendas{
	float:center;
	width:1200px;
}
.frmInserirVendas label{
	width:200px;
}
.frmInserirVendas input, .frmInserirVendas textarea{
	width:200px;
	height:20px;
	padding:4px 0;
	resize:none;
	
}

.frmInserirVendas select{
	width:205px;
	height:30px;
	padding:4px 0;
}

.frmInserirVendas .aviso{
	background-color:#ff0000;
	color:#fff;
	font-weight:bold;
}
